$color-rojo: #f02137;
$color-amarillo: #fca300;
$color-celeste: #4790e7;
$color-azul: #023440;




/* 
font-family: 'Anton', sans-serif;
font-family: 'Sintony', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/


