.cursos {
    margin: 1rem 0;
}

.grid-cursos .cursos {
    text-align: center;

    width: 90%;
    border: solid 3.5px $color-rojo;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.25s ease-in-out;
    &:hover img {
        filter: grayscale(0);
    }
    &:hover {
        border-color: $color-azul;
    }
}

.grid-cursos div img {
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.25s ease-in-out;
}

.texto {
    /*  font-family: 'Anton', sans-serif; */
    /*  font-family: 'Sintony', sans-serif; */
    font-family: "Source Sans Pro", sans-serif;
    text-transform: lowercase;

    h2 {
        color: $color-rojo;
        font-size: 20px;
    }

    p {
        color: $color-azul;
    }
}

.grid-cursos :hover div {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform 0.5s, -webkit-transform 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    h2 {
        color: $color-celeste;
    }
}
