<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PRAXIS School of English - Cipolletti</title>

        <link rel="stylesheet" href="../css/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Sintony&family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">

        

    </head>


<body>


    <header>
      <meta name="viewport" content="width=320, initial-scale=1">
      <a href="../index.html"><img src="../images/logoPraxisColor.png" width="350" alt="Praxis School of English Cipolletti" class="logoIndex"></a>

    </header>


    <nav> 
        <label for="nav-toggle">&#9776;</label>
        <input type="checkbox" id="nav-toggle" />
        <ul>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/cursos.html">Cursos</a></li>
            <li><a href="../views/novedades.html">Novedades</a>
            <li><a href="../views/acceso.html">Acceso</a>
            
        </ul>
    </nav>



<h1>Contacto</h1>

<div class="contacto">
<form>
    <fieldset class="formularioContacto">
        <form>
            <label for="Usuario">Nombre:</label>
            <input type="text" name="Nombre" placeholder="nombre"/></form>
            <br/>
            <br/>
            <form>
                <label for="E-mail"><E-mail>E-Mail:</E-mail>:</label>
                <input type="text" name="Nombre" placeholder="E-mail"/></form>
                  
    <br/>
    <br/>
      Busco información de Cursos para...
      <form>
          <select name="Cursos"> 
            <option value="Niños">Niños</option>
            <option value="Adolescentes">Adolescentes</option>
            <option value="Adultos">Adultos</option>
          </select>
        </form>
   
<br/>
<br/>

    
<textarea name="comentarios" rows="10" cols="40">Disponibilidad horaria</textarea>
<br/>
<br/>
<form>
    <input type="checkbox" name="acepta" value="1" />Deseo recibir información de cursos y novedades
</form>
<br/>
<br/>

<form>
    <input type="reset" value="Limpiar"/>
</form>


<form>
    <input type="submit" value="Enviar consulta"/>
</form>

</fieldset>
</form>
</div>

<div class="contactoWhatsapp">
<div class="tambien tambienNos">
    <p>también nos encontrás en...</p>
</div>

<div class="iconWhatsapp">
    <a href="https://api.whatsapp.com/send?phone=+5492994244893" target="black">
    <i class="fab fa-whatsapp"></i></div>

</div>




<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>





















</html>