<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PRAXIS School of English - Cipolletti</title>

        <link rel="stylesheet" href="../css/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Sintony&family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">

        

    </head>


<body>


    <header>
      <meta name="viewport" content="width=320, initial-scale=1">
      <a href="../index.html"><img src="../images/logoPraxisColor.png" width="350" alt="Praxis School of English Cipolletti" class="logoIndex"></a>

    </header>


    <nav> 
        <label for="nav-toggle">&#9776;</label>
        <input type="checkbox" id="nav-toggle" />
        <ul>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/novedades.html">Novedades</a>
            <li><a href="../views/acceso.html">Acceso</a>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>



<h1>Cursos</h1>

<div class="grid-cursos">
  <div class="cursos ninos">
    <img src="../images/cursos1-niños.jpg" alt=''>
    <div class="texto">
    <h2>Niños y Adolescentes</h2>
    <p>lunes a jueves<br>
      turno mañana-turno tarde</p>
  </div>
  </div>
  
  <div class="cursos adultos">
    <img src="../images/cursos2-adultos.jpg" alt=''>
    <div class="texto">
      <h2>Adultos</h2>
      <p>cursos regulares<br>
        conversación<br>
        clases a medida con fines específicos</p>
    </div>
    </div>

  <div class="cursos apoyo">
    <img  src="../images/cursos3-apoyo.jpg" alt=''>
    <div class="texto">
    <h2>clases de apoyo</h2>
      <p>todos los niveles</p>
    </div>
    </div>

  <div class="cursos exam">
    <img src="../images/cursos4-exam.jpg" alt=''>
    <div class="texto">
    <h2>exámenes</h2>
      <p>entrenamiento y preparación</p>
    </div>
    </div>
    
    
  <div class="cursos travel">
    <img  src="../images/cursos5-travel.jpg" alt=''>
    <div class="texto">
    <h2>cursos intensivos de verano</h2>
      <p>jovenes y adultos</p>
    </div>
    </div>

  

</div>
  





<footer>

<div class="grid-container-footer">
 
 
  <div class="face boton">
  <a href="https://www.facebook.com/instituto.praxis.5" target="blank">
  <i class="fab fa-facebook-f"></i></div>
        
  <div class="insta boton">
  <a href="https://instagram.com/praxiscipolletti?igshid=1jjwurdt66o8q" target="blank">
  <i class="fab fa-instagram"></i></div>
      
  <div class="telefono boton">
  <a href="https://api.whatsapp.com/send?phone=+5492994244893" target="black">
  <i class="fab fa-whatsapp"></i></div>
    
  <div class="mail boton"> 
  <a href="mailto:praxiscipolletti@gmail.com?Subject=Aquí%20el%20asunto%20del%20mail" target="black">
  <i class="far fa-envelope"></i></div>
        
  <div class="direccion boton">
  <a href="https://www.google.com/maps/place/Praxis+School+of+English/@-38.930813,-67.9979789,15z/data=!4m5!3m4!1s0x0:0xb2624ad37969bffa!8m2!3d-38.930813!4d-67.9979789" target="black">
  <i class="fas fa-map-marker-alt"></i></div>
</div>
 


</footer>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>





















</html>