<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PRAXIS School of English - Cipolletti</title>

        <link rel="stylesheet" href="../css/style.css">

        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Sintony&family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">

        

    </head>


<body>


    <header>
      <meta name="viewport" content="width=320, initial-scale=1">
      <a href="../index.html"><img src="../images/logoPraxisColor.png" width="350" alt="Praxis School of English Cipolletti" class="logoIndex"></a>

    </header>


    <nav> 
        <label for="nav-toggle">&#9776;</label>
        <input type="checkbox" id="nav-toggle" />
        <ul>
            <li><a href="../views/cursos.html">Cursos</a>
            <li><a href="../views/novedades.html">Novedades</a>
            <li><a href="../views/acceso.html">Acceso</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
        </ul>
    </nav>



<h1>Nosotros</h1>



<div class="contenedorNosotros">

<div class="services">
<div class="content content-1">
<h2 class="iden">Identidad</h2>

<p>Somos una institución que se dedica a la enseñanza de idiomas y nuestro objetivo no es solo la formación académica en una segunda o tercera lengua, sino formar personas responsables que puedan defenderse de manera eficaz en el mundo actual, teniendo en cuenta las herramientas necesarias paras el siglo XXI. <br>Para poder lograr nuestros objetivos, creemos que es esencial el trabajo en equipo, clases con grupos reducidos, y personal capacitado.</p>

        </div>
   
<div class="content content-2">
   
  
  
<h2>Trayectoria</h2>
<p>
Praxis fue fundado en Marzo de 1986 en la ciudad de Cipolletti por Viviana P. Chertudi. Comenzó como instituto de Inglés, pero a lo largo de los años se han sumado otros idiomas como Portugués, Italiano y Francés.<br>
En 1989 se crea Praxis Instituto de Capacitación Docente, organizando seminarios y cursos con disertantes locales e internacionales.<br>
En el año 1993 se inaugura de “The Bookshop”, librería especializada en textos y material audiovisual para que los alumnos y público en general pudieran adquirir textos de diferente índole.<br>
Dada la necesidad de profesionalizar la enseñanza en la localidad de Malargüe, el instituto coordina y realiza la evaluación externa del English Center Malargüe.<br>
Durante el año 2003 Praxis obtiene la representación local de los exámenesinternacionales Anglia Examinations (Chichester College).<br>
Al igual que en Mendoza, en el año 2005 Praxis se encarga de la coordinación y evaluación externa de la enseñanza del idioma Ingles en Escuela Cristiana Descubrir de la ciudad de Cipolletti.<br>
A partir de 2006 y siguiendo con la dedicación y el trabajo de su fundadora, se hace cargo de la institución la señora María Emilia Ramos.</p>

        </div>
   
   
<div class="content content-3">
   
<h2>Renovación</h2>
<p>
En el año 2014 se construye un edificio propio ajustado a las necesidades de la institución, con aulas confortables, de fácil acceso y con disponibilidad de estacionamiento.<br>
Praxis ofrece distintos tipos de cursos para todas las edades, regulares e intensivos, con fines específicos, clases particulares de apoyo, cursos de conversación con hablantes nativos, talleres recreativos, salidas educativas.<br>
En el último año, nos hemos enfocado en la enseñanza y desarrollo de las habilidades del siglo XXI, y nos capacitamos permanentemente para poder brindar un servicio de calidad.<br>
También ofrecemos talleres temáticos y multisensoriales, para usar el idioma como herramienta mientras aprendemos a cocinar, hacemos arte, reciclamos,
etc.</p>

</div>
</div>


</div>





</div>




<footer>

<div class="grid-container-footer">
 
 
  <div class="face boton">
  <a href="https://www.facebook.com/instituto.praxis.5" target="blank">
  <i class="fab fa-facebook-f"></i></div>
        
  <div class="insta boton">
  <a href="https://instagram.com/praxiscipolletti?igshid=1jjwurdt66o8q" target="blank">
  <i class="fab fa-instagram"></i></div>
      
  <div class="telefono boton">
  <a href="https://api.whatsapp.com/send?phone=+5492994244893" target="black">
  <i class="fab fa-whatsapp"></i></div>
    
  <div class="mail boton"> 
  <a href="mailto:praxiscipolletti@gmail.com?Subject=Aquí%20el%20asunto%20del%20mail" target="black">
  <i class="far fa-envelope"></i></div>
        
  <div class="direccion boton">
  <a href="https://www.google.com/maps/place/Praxis+School+of+English/@-38.930813,-67.9979789,15z/data=!4m5!3m4!1s0x0:0xb2624ad37969bffa!8m2!3d-38.930813!4d-67.9979789" target="black">
  <i class="fas fa-map-marker-alt"></i></div>
</div>
 


</footer>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>





















</html>